.contacts {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: auto;
    }

    @media screen and (min-width: 1200px){
        display: flex;
        margin-left: auto;

        &>.contact-item:not( :last-child) {
                margin-right: 50px;
            }
    }
}

.contacts a {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.02em;
    color: var(--text-color);
    text-decoration: none;

    @media screen and (min-width: 1200px) {
    line-height: 1.14; }

    transition: color 250ms var(--main-cub);

    &:hover,
    &:focus {
        color: var(--accent-text);
    }
}

.contact-item:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}

.contact-icon-e-mail {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
}

.contact-icon-smartphone {
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
}