.contacts-list {
    font-weight: 400;
    line-height: 1.7;
}


.contacts-list>.fact-address>a {
    color: var(--bgc);
    font-style: normal;
}

.contacts-list .address {
    color: rgba(255, 255, 255, 0.6);
    ;
    text-decoration: none;
    font-style: normal;

    transition: color 250ms var(--main-cub);

    &:hover,
    &:focus {
        color: var(--accent-text);
    }
}